*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body
{
    font-family:"lato";
}
.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#67E6DC;
    
}
.calculator
{ 
    display: grid; 
    grid-template-rows:8% 25% auto ;
    width: 300px;
    height: 500px;
    background-color: white;
    border: radius 3px; 
    box-shadow: 0;
    box-shadow: 0px 0px 10px 3px rgb(1, 1, 0.5);
}
.calculator-header
{
   display: flex; 
   justify-content: flex-end;
   padding: 0 20px;
    background-color:fff;
}
.calculator-body
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    background-color:#E1F5FE;
    text-align: right;
}
.calculator-footer
{
    display: grid; 
    grid-template-columns:auto auto auto auto;
    grid-template-rows:auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;


}
.calculator-footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 500; 
    color:#333 ;
    transition: 0.4s all;
}
.calculator-footer div.sysbol
{
    background-color: #ff7849;
    color: white;
}
.calculator-footer div.sys-dark
{
    background-color: #f4511e;
    color: white;
}
.calculator-footer div:hover
{
    cursor: pointer;
}
.calculator-footer div:hover
{
    background-color:#EAF0F1;
}
.calculator-footer div.sysbol:hover
{
    background-color: #ff8a65;
}

/*slider switch css */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .theme-switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 50px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider:before {
    background-color: #000; 
    content: "";
    bottom: -5px;
    height: 26px;
    /* left: 0px; */
    right: 25px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }