@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8b8993;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0%;
}

.btn {
  background-color: #3e3b4c;
  border: none;
  color: aliceblue;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
