* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c1c;
}

.box {
  position: relative;
  width: 360px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 -20px;
  border: 40px solid #000;
  border-radius: 50%;
}
.dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transform-origin: 100px 50%;
  animation: animatedot 4s linear infinite;
}

@keyframes animatedot {
  0% {
    transform-origin: 100px 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform-origin: 100px 50%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  50.000001% {
    transform-origin: -60px 50%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform-origin: -60px 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
