@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --left-bg-color:rgba(87,84,236,0.7);
    --right-bg-color:rgba(43,43,43,0.8);
    
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;

}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: url('https://www.hdcarwallpapers.com/walls/novitec_mclaren_620r_2021_5k-HD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right{
    right: 0;
    background: url('https://c4.wallpaperflare.com/wallpaper/542/516/911/2010-bugatti-veyron-16-4-super-sport-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
