@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto', 'sans-serif';
}

html {
  font-size: 62.5%;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: white;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.section-1-icons i {
  font-size: 35rem;
  color: #a79a2d;
  position: absolute;
  transform: translate(-50%, -50%);
  text-shadow: 0.3rem 0.3rem 0.3rem rgb(14, 1, 1);
}

.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
}
