@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 400px;
  height: 155px;
  margin: 20px;
  border-radius: 10px;
  background-color: #e2e8f0;
  box-shadow: 0 9px 33px rgba(0, 0, 0, 0.07);
}
.card-text {
  display: flex;

  justify-content: space-between;
  width: 250px;
  margin-left: 10px;
}
.card-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #4f46e5;
}
.card-title {
  font-size: 16px;
  color: #334155;
}
.card-description {
  margin: 10px 0;
  font-size: 12px;
  color: #64748b;
}
.card-skills .skill {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  color: #475569;
}
.card-link {
  margin-top: 20px;
  font-size: 12px;
  color: #4f46e5;
}
